<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <header>
        <nav class="top-nav">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/shop}">Products</a></li>
                <li><a th:href="@{/about}">About</a></li>
            </ul>
        </nav>
        <h1>About Us</h1>
    </header>

    <section class="container">
        <p>Welcome to Rug Market, your go-to destination for high-quality rugs. Our mission is to provide a diverse selection of stylish and durable rugs to enhance the beauty of your living spaces.</p>
        <p>At Rug Market, we believe in quality craftsmanship, attention to detail, and customer satisfaction. Our team is dedicated to curating a collection of rugs that cater to various tastes and preferences.</p>
        <p>Explore our website to discover a wide range of rugs that can complement any room in your home. Whether you're looking for a cozy rug for your bedroom or a statement piece for your living room, we've got you covered.</p>
    </section>

</body>
</html>
