@font-face {
    font-family: Bristol;
    src: url('http://localhost:8080/resources/fonts/Bristol.otf');
}

body {
    /* font-family: Arial, sans-serif; */
    font-family: Bristol;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 1em 0;
    display: flex;
}

.top-nav {
    background-color: #333;
    padding: 0.5em;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav li {
    display: inline;
    margin-right: 20px;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    text-align: center;
}

.product {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 15px;
    background-color: #c2b597;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: #333;
}

.product img {
    max-width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}


h2 {
    color: #333;
}

p {
    color: #666;
}

.price {
    color: #333;
    font-weight: bold;
    margin: 10px 0;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #217dbb;
}

.product:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
